{{extend 'layout.html'}}
<p>
<br><br><br>
<div class="row">
            <div class="col-sm-4">
			
				<h4> CodeValidator is an application where teacher can upload the assignments and students can submit the solutions </h4>
				<h4> Teacher can ask the students to submit any of Java, C or Python programs. </h4>
				<h4> {{=A('Here', _href=URL('user/login'))}} teachers can login and upload the assignments </h4>
				<h4> {{=A('Here', _href=URL('student'))}} students can see the assignments and submit there solutions. </h4>
			</div>
</div>			
<div style="margin: 100px 50px;"></div>
<h4>
<br>
<br>
<br>
<br>
<u>Contact:</u>

<br><br>
Chaitanya Pochampally
<br>
Email :chaitanya.pochampally@gmail.com
</h4>